# General configuration data used by nyx.

attr.flag_colors Authority => white
attr.flag_colors BadExit => red
attr.flag_colors BadDirectory => red
attr.flag_colors Exit => cyan
attr.flag_colors Fast => yellow
attr.flag_colors Guard => green
attr.flag_colors HSDir => magenta
attr.flag_colors Named => blue
attr.flag_colors Stable => blue
attr.flag_colors Running => yellow
attr.flag_colors Unnamed => magenta
attr.flag_colors Valid => green
attr.flag_colors V2Dir => cyan
attr.flag_colors V3Dir => white

attr.version_status_colors new => blue
attr.version_status_colors new in series => blue
attr.version_status_colors obsolete => red
attr.version_status_colors recommended => green
attr.version_status_colors old => red
attr.version_status_colors unrecommended => red
attr.version_status_colors unknown => cyan

attr.hibernate_color awake => green
attr.hibernate_color soft => yellow
attr.hibernate_color hard => red

attr.graph.title bandwidth => Bandwidth
attr.graph.title connections => Connection Count
attr.graph.title resources => System Resources

attr.graph.header.primary bandwidth => Download
attr.graph.header.primary connections => Inbound
attr.graph.header.primary resources => CPU

attr.graph.header.secondary bandwidth => Upload
attr.graph.header.secondary connections => Outbound
attr.graph.header.secondary resources => Memory

attr.log_color DEBUG => magenta
attr.log_color INFO => blue
attr.log_color NOTICE => green
attr.log_color WARN => yellow
attr.log_color ERR => red

attr.log_color NYX_DEBUG => magenta
attr.log_color NYX_INFO => blue
attr.log_color NYX_NOTICE => green
attr.log_color NYX_WARN => yellow
attr.log_color NYX_ERR => red

attr.log_color CIRC => yellow
attr.log_color BW => cyan
attr.log_color NS => blue
attr.log_color NEWCONSENSUS => blue
attr.log_color GUARD => yellow

