# Nyx can be customized through a configuration file with the following
# options. Values shown below are the default unless marked with a asterisk.
#
# Place your configuration at ~/.nyx/config or run with the following to
# apply the settings...
#
#   % nyx --config /path/to/config

data_directory ~/.nyx   # Caching location, can be set to 'disabled'.
password none           # Control port password of tor.
tor_chroot /path        # Chroot jail tor resides within if there is one. (*)
show_bits false         # Bandwidth rate as bits if true, bytes otherwise.
confirm_quit true       # Confirm before quitting.
color_interface true    # Uses color in our interface.
color_override none     # Replaces instances of color with this hue.
unicode_support true    # Render text as unicode.
acs_support true        # Uses ACS (alternate character set) for nice borders.

redraw_rate 5           # Seconds to await user input before redrawing.
connection_rate 5       # Seconds between querying connections.
resource_rate 5         # Seconds between querying process resource usage.
port_usage_rate 5       # Seconds between querying processes using ports.

logged_events events    # Events that are shown by default in the log. [1]
deduplicate_log true    # Hides duplicate log messages.
prepopulate_log true    # Populates with events that occure before we started.
logging_filter pattern  # Regex filter for log messages that are shown. (*)
write_logs_to /path     # Writes events that occure while running here. (*)
max_log_size 1000       # Maximum number of log entries.

graph_stat bandwidth        # Statistic to be graphed. [2]
graph_interval each second  # Graph sampling interval. [3]
graph_bound max_local       # Bounding for the graph min and max. [4]
graph_height 7              # Height of the graph.
max_graph_width 300         # Maximum number of samplings.

config_order order          # Order for tor config options. [5]
show_private_options false  # Shows configurations with a '__option' prefix.
show_virtual_options false  # Shows unsettable tor configurations.

connection_order order  # Order for connections. [6]
resolve_processes true  # Shows processes for SOCKS and CONTROL connections.
show_addresses true     # Shows addresses of connections.

show_graph true         # Shows the graph.
show_accounting true    # Shows accounting stats if AccountingMax is set.
show_log true           # Shows the event log.
show_connections true   # Shows connection information.
show_config true        # Shows tor's configuration.
show_torrc true         # Shows the torrc.
show_interpreter true   # Shows the control interpreter.

# [1] logged_events is a comma separated list. Default value is...
#
#       NOTICE, WARN, ERR, NYX_NOTICE, NYX_WARNING, NYX_ERROR
#
# [2] graph_stat options include...
#
#       none - hide the graph
#       bandwidth - bandwidth rate downloaded/uploaded
#       connections- number of connections inbound/outbound
#       resources - cpu/memory usage of tor
#
# [3] graph_interval options include...
#
#       each second,   5 seconds,     30 seconds,  minutely,
#       15 minute,     30 minute,     hourly,      daily
#
# [4] graph_bound options include...
#
#       global_max - global maximum (highest value ever seen)
#       local_max - local maximum (highest value currently on the graph)
#       tight - local maximum and minimum
#
# [5] config_order is three comma separated values that can include...
#
#       * NAME
#       * VALUE
#       * VALUE_TYPE
#       * CATEGORY
#       * USAGE
#       * SUMMARY
#       * DESCRIPTION
#       * MAN_PAGE_ENTRY
#       * IS_SET
#
#     Default is: MAN_PAGE_ENTRY, NAME, IS_SET
#
# [6] connection_order is three comma separated values that can include...
#
#       * CATEGORY
#       * UPTIME
#       * IP_ADDRESS
#       * PORT
#       * FINGERPRINT
#       * NICKNAME
#       * COUNTRY
#
#     Default is: CATEGORY, IP_ADDRESS, UPTIME
