body {
  background: #202228 url("images/grid.png");
  font-family: "FreeSans", "Arial", "Helvetica", sans-serif;
  line-height: 1.231;
  margin: 0px;
}

a {
  color: #856231;
  font-weight: bold;
  text-decoration: none;
}

.header {
  height: 97px;
  background-color: black;
  border-bottom: 10px solid #825d27;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.80);
}

.header-body {
  margin: 0px auto;
  text-align: center;
  max-width: 770px;
}

#logo {
  float: left;
  width: 300px;
  height: 120px;
  background: url("images/logo.png") no-repeat 0px 20px;
  margin: 0px;
}

.nav {
  float: right;
  margin: 0px;
  font-size: 14px;
}

.nav li {
  display: inline;
}

.nav a { 
  font-weight: normal;
  display: inline-block;
  padding: 6px 15px;
  background: #825d27;
  border: 1px solid #47351c;
  border-top: none;
  color: #FFFFFF;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.nav a:hover {
  background: #FFFFFF;
  border: 1px solid #885CA4;
  border-top: none;
  color: #333333;
}

.nav a.current {
  background: #FFFFFF;
  border: 1px solid #4d4d4d;
  border-top: none;
  color: #333333;
  font-weight: bold;
}

.nav a.active:hover {
  border: 1px solid #885CA4;
  border-top: none;
  color: #666666;
}

.content {
  background: white;
  margin: 50px auto 0px auto;
  max-width: 630px;
  border-radius: 10px;
  text-align: center;
  padding: 50px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.80);
}

.header-line {
  border-top: 1px solid #856231;
  margin-bottom: -16px;
}

.first {
  margin-top: 5px;
}

.content h1 {
  display: inline-block;
  position: relative;
  color: #856231;
  margin: 0px auto;
  background: white;
  font-size: 28px;
  padding: 0 15px;
}

.content p {
  margin: 20px 0px 0px;
  text-align: justify;
}

